<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/aut.css">
    <title>Document</title>
</head>
<body>

    <form method="post" class="form">
        <div class="inner-post">
            <div class="block">
            <label for="name_lbl" class="nameuser">Имя пользователя</label>
            <input class="pole" id="name_lbl" type="text" name="username" required>
            </div>

            <div class="block">
            <label for="password_lbl" class="passuser">Пароль</label>
            <input class="pole" id="password_lbl" type="password" name="password">
            </div>
            <button class="but">Войти</button>
        </div>
</form>

</body>
</html>